.cs-input-box{
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 45Px;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.cs-btn-input{
  display: inline-block;
  border:none !important;
  padding: 0;
  height: 45Px;
  transition: all 0.5s;
}

.cs-btn-input:active{
  opacity: 0.5;
}

.cs-btn-input.fly1{
  position: fixed;
  left: 0px;
  bottom: 45Px;
}

.cs-btn-input.fly2{
  position: fixed;
  left: 45Px;
  bottom: 45Px;
}

.cs-icon{
  height: 25Px;
  width: 25Px;
  margin: 10Px 10Px;
}

.cs-input{
  display: inline-block;
  height: 45Px;
  width: 270Px;
  border: none !important;
  font-size: 16Px;
}
