.board-item {
  position: relative;
  display: flex;
  padding-top: 20Px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    transition: background-color .15s ease-out;
  }
  &:active::before {
    opacity: 1;
  }
  .tag {
    position: relative;
    width: 80Px;
    height: 80Px;
  }
  .detail {
    position: relative;
    flex: 1;
    border-bottom: 1Px #e4e7ed solid;
    padding-bottom: 20Px;
  }
}