
.ra_container
  .topbar
    margin-top: 80px
  .iconAuth
    font-size: 70px
  .at-steps__title
    font-size: 30px

.at-steps__item--active .at-steps__circular
  background: #4F4FCB
.at-button--primary
  background: #4F4FCB
