@import "~taro-ui/dist/style/components/steps.scss"
@import "~taro-ui/dist/style/components/button.scss"
@import "~taro-ui/dist/style/components/loading.scss"
@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/input.scss"
@import "~taro-ui/dist/style/components/icon.scss"

.container
  margin-top: 70rpx
  .iconAuth
    font-size: 70rpx
  .at-steps__title
    font-size: 30rpx
