@import "~taro-ui/dist/style/components/steps.scss"
@import "~taro-ui/dist/style/components/button.scss"
@import "~taro-ui/dist/style/components/loading.scss"
@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/input.scss"
@import "~taro-ui/dist/style/components/icon.scss"

.ra_container
  margin-top: 70px
  .topbar
    margin-top: 180px
  .iconAuth
    font-size: 70px
  .at-steps__title
    font-size: 30px

.at-steps__item--active .at-steps__circular
  background: #f3b340
.at-button--primary
  background: #f3b340
