.CustomerService{
    background-color: #f1f5f8;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.message-list{
    display: flex;
    flex-direction:column;
    margin-bottom: 45Px;
}

.inputBox{
    position: fixed;
    height: 45Px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.input{
    margin: 10Px 10Px;
}
