@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/card.scss"
@import "~taro-ui/dist/style/components/button.scss"
@import "~taro-ui/dist/style/components/accordion.scss"
@import "~taro-ui/dist/style/components/list.scss"
@import "~taro-ui/dist/style/components/modal.scss"
.hotelOrderPage_item
  width: 100%
  height: 100vh
  margin: auto auto
  border: 0rpx solid transparent
  box-sizing: border-box
  border-radius: 40rpx
  box-shadow: 0 0 10rpx #c2c2c2
  background-color: white
  overflow: auto
  .hotelOrderPage_container
    width: 100%
    height: 1700rpx
    .hotelOrderPage_image
      position: relative
      width: 100%
      overflow: hidden
      height: 600rpx
    .cover_container
      height: 100rpx
      width: 100%
      line-height: 2.5
      margin: auto auto
      position: absolute
      top: 0
      background: linear-gradient(#000000,transparent)
      opacity: 0.8
      .hotelOrderPage_title
        color: #ffffff
        font-size: 45rpx
        font-weight: 700
        text-align: center
      .hotelOrderPage_status
        padding: -10rpx
        font-size: 35rpx
        font-weight: 300
        color: #ffffff
        .hotelOrderPage_icon
          font-size: 50rpx
          top: 10rpx
          height: 100%
          width: 100%
        .booking
          color: #eeec65
        .checkin
          color: #54db81
        .checkout
          color: #999999
    .hotelOrderPage_content
      position: relative
      margin-top: 0
      width: 100%
      height: 1100rpx
      background: linear-gradient(#f7f7f7,transparent)
      .hotelOrderPage_card
        width: 96%
        background: #ffffff
        margin: auto auto
        box-sizing: border-box
        height: 350rpx
        position: relative
        top: 70rpx
        border-radius: 20rpx
        box-shadow: 0 0 10rpx #d8d8d894
        .hotelOrderPage_title
          height: 190rpx
          color: #424242
          padding-left: 13rpx
          font-size: 35rpx
          font-weight: 700
          line-height: 2.8
          .hotelOrderPage_title_tips
            color: #2c8cf3d8
            font-size: 28rpx
            font-weight: 300
        .hotelOrderPage_backHotel
          padding-left: 15rpx
          padding-top: 30rpx
      .hotelOrderPage_paylist
        position: relative
        top: 110rpx
        background: white
        .hotelOrderPage_paylist_title
          font-size: 35rpx
          font-weight: 700
        .hotelOrderPage_goodcoin
          height: 100rpx
          padding-top: 20rpx
          padding-left: 30rpx
          box-shadow: 0 10rpx 20rpx #eeeeee
          .hotelOrderPage_goodcoin_title
            color: #838383
          .hotelOrderPage_goodcoin_coin
            color: #f87373
            padding-left: 50rpx
          .hotelOrderPage_goodcoin_tip
            padding-left: 200rpx
            color: #2c8cf3d8
            font-size: 20rpx
            font-weight: 300
        .hotelOrderPage_other
          margin-top: 40rpx
          height: 120rpx
          text-align: center
          color: #2d8bf0f8
          line-height: 1
          box-shadow: 0 0 20rpx #eeeeee
          .hotelOrderPage_other_pingjia
            width: 100%
            height: 120rpx
            transition: background-color 0.3s
            &:active
              background-color: #eeeeee
          .hotelOrderPage_other_kefu
            text-align: center
            width: 100%
            height: 120rpx
            transition: background-color 0.3s
            &:active
              background-color: #eeeeee
          .icon
            font-size: 40rpx
            color: #007bfff8
            padding-top: 20rpx

.close
  position: absolute
  font-size: 45rpx
  top: 30rpx
  color: #ffffff
  right: 30rpx
  z-index: 999
.hr
  height: 1rpx
  width: 100%
  background: #cecece
  margin: auto auto
.hrx
  color: #c4c4c4
  width: 30rpx
