.container
  .arch
    padding-left: 30px
    color: #c4c4c4
    font-size: 70px
    font-weight: 100
  .userInfo
    height: 140px
    padding-left: 50px
    transition: background-color 0.3s
    &:active
      background-color: #eeeeee
  .userPortrait
    margin-top: 100px
  .arch
    padding-left: 30px
    color: #c4c4c4
    font-size: 70px
    font-weight: 100
  .userAvatar
    font-size: 60px
  .hr
    height: 1px
    width: 85%
    background: #eeeeee
    margin: auto auto
  .title
    font-size: 35px
  .text
    font-size: 30px
    font-weight: 300
  .realAuth
    height: 400px
    width: 80%
    margin: auto auto
    margin-top: 100px
    border: 2px solid #818181
    border-radius: 20px
    box-shadow: 0px 0px 15px #cfcfcf
    overflow: hidden
  .realAuthBackground
    width: 80%
    height: 400px
    opacity: .1
    position: absolute
    z-index: -2
  .realAuthLogo
    text-align: center
    margin-top: 10px
    margin-left: 10px
    border: 2px solid #bbbbbb
    border-radius: 50%
    box-shadow: 0 0 10px #d6d6d6
  .realAuthInfo
    text-align: center
  .iconRealAuthPass
    height: 90px
    width: 90px
    font-size: 70px
    margin-top: 5px
    color: #2bff60
  .iconRealAuthPro
    height: 90px
    width: 90px
    font-size: 80px
    color: #ff8181
  .iconRealAuthNo
    font-size: 90px
    color: #fc5858
  .realAuthText
    margin-top: 100px
  .realAuthWhy
    font-size: 25px
    margin-top: 30px
    color: #535353
  .iconRealAuthYes
    font-size: 90px
    color: #2bff60
  .realAuthAgain
    font-size: 30px
    margin-top: 30px
    color: #383838
