.container
  margin-top: 30px
  .camera
    width: 500px
    height: 500px
    margin: auto auto
  .cameraBorder
    width: 500px
    height: 500px
    margin: auto auto
  .coverImage
    height: 100%
    width: 100%
  .cameraBtn
    width: 50%
    margin: auto auto
    margin-top: 40px
  .cameraImage
    width: 500px
    height: 500px
    margin: auto auto
    border-radius: 50%
