@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/input.scss"
@import "~taro-ui/dist/style/components/button.scss"
@import "~taro-ui/dist/style/components/loading.scss"

.container
  margin-top: 30rpx
  .camera
    width: 500rpx
    height: 500rpx
    margin: auto auto
  .cameraBorder
    width: 500rpx
    height: 500rpx
    margin: auto auto
  .coverImage
    height: 100%
    width: 100%
  .cameraBtn
    width: 50%
    margin: auto auto
    margin-top: 40rpx
  .cameraImage
    width: 500rpx
    height: 500rpx
    margin: auto auto
    border-radius: 50%
