.CustomerService{
    background-color: #f1f5f8;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.cs-message-list{
    display: flex;
    flex-direction:column;
    margin-bottom: 90Px;
    text-align: center;
}

.cs-quickmenu-box{
    position: fixed;
    height: 45Px;
    bottom: 45Px;
    width: 100%;
    background-color: #f1f5f8;
    padding-left: 90Px;
}
