
.login-container
  padding-top: 80px
  .quickLogin_title
    margin-left: 30px
    margin-top: 100px
    font-size: 50px
    font-weight: 500
  .quickLogin_subtitle
    margin-left: 30px
    margin-top: 5px
    font-size: 25px
    font-weight: 100
  .phone_input
    margin-top: 60px
  .phone_btn
    margin: auto
    margin-top: 100px
    width: 50%
  .picker
    color: #999999
  .icon-RectangleCopy1
    font-size: 200px
    color: #8cfc95
  .errorCap
    color: #ff0000
    margin-left: 30px
    font-size: 25px
    font-weight: 100
  .tapCap
    opacity: 0
    margin-left: 30px
    font-size: 25px
    font-weight: 100
  .toPsw
    margin: auto
    margin-top: 50px
    color: #ff886b
    font-size: 30px
    width: 50%
    text-align: center
