.container {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  .lodger-item {
    position: relative;
    background-color: white;
    padding: 10Px 20Px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: #f0f0f0;
      width: 100%;
      height: 100%;
      transition: background-color .15s ease-out;
    }
    &:active::before {
      opacity: 1;
    }
    .portrait {
      position: relative;
      width: 40Px;
      height: 40Px;
      border-radius: 40Px;
    }
    .info {
      color: #303133;
      position: relative;
      margin-left: 20Px;
    }
    .invite {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      right: 20Px;
      width: 80Px;
      transform: scale(1.2);
    }
  }
  .tip {
    text-align: center;
    color: #909399;
    font-size: 14Px;
    padding: 20Px;
  }
}