.container {
  background-color: #4c2497;
  height: calc(100vh - 80Px);
  width: 100vw;
  padding-top:80Px;
}

.img {
  width: 100%;
}

.a {
  text-decoration: none;
}

.head,
.container-bg {
  margin-top: 30Px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-bg {
  box-sizing: border-box;
  height: 100%;
  max-width: 500Px;
  margin: auto;
  background: url("https://hotel-ai-1257814705.cos.ap-shanghai.myqcloud.com/%E5%89%8D%E7%AB%AF/visit/visit_bg.png") no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: 800;
  padding: 50Px 40Px;
}

.user {
  color: rgb(16, 255, 233);
  font-size: 18Px;
}

.title {
  width: 80%;
  margin: 10Px;
}

.note {
  width: 80%;
  color: rgb(16, 255, 233);
  border: 1Px solid rgb(16, 255, 233);
  padding: 5Px 5Px;
  border-radius: 5Px;
  font-size: 16Px;
}

.time-start,
.time-end {
  font-weight: 100;
}

.time-start,
.time-end,
.place {
  box-sizing: border-box;
  font-size: 16Px;
  padding: 5Px 15Px;
  background: linear-gradient(to right, #7145d5, #ab6981);
}

.time,
.place {
  width: 80%;
}

.btn-group {
  width: 100%;
  display: flex;
}

.btn {
  flex: 1;
  margin: 0 10Px;
  border: 2Px white solid;
  padding: 10Px 10Px;
  font-size: 18Px;
  cursor: pointer;
  color: white;
}

.btn:active {
  opacity: 0.5;
}

.billboard {
  width: 100%;
  display: flex;
  font-size: 12Px;
  justify-content: space-around;
}

.code {
  width: 40Px;
  .img{
    height: 40Px;
  }
}

.tip {
  padding: 2Px;
}
