@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/badge.scss"
@import "~taro-ui/dist/style/components/button.scss"
@import "~taro-ui/dist/style/components/loading.scss"
.container
  width: 80%
  margin: auto auto
  background: white
  margin-bottom: 30px
  margin-top: 20px
  .iconListLine
    font-size: 70px
    text-align: center
  .textListLine
    font-size: 27px
    text-align: center
    font-weight: 300
  .swiper
    text-align: center
