
@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/avatar.scss"
@import "~taro-ui/dist/style/components/article.scss"

.container
  background: #f0f0f050
  .topSet
    height: 200rpx
    .visitor
      margin: auto auto
    .account_name
      color: #000000
      font-weight: 700
      font-size: 40rpx
    .set_account_info
      color: #c4c4c4
      font-size: 20rpx
    .hrx
      color: #c4c4c4
    .login
      font-size: 30rpx
      color: #81d5fc
  .icon
    font-size: 70rpx
    padding-left: 40rpx
  .arch
    padding-left: 30rpx
    color: #c4c4c4
    font-size: 70rpx
    font-weight: 100
  .account_list
    font-weight: 400
    height: 130rpx
  .hr
    height: 1rpx
    width: 85%
    background: #eeeeee
    margin: auto auto
  .list
    background: white
    width: 100%
    border-top-right-radius: 50rpx
    border-top-left-radius: 50rpx
    overflow: hidden
