
@import "~taro-ui/dist/style/components/flex.scss"
@import "~taro-ui/dist/style/components/avatar.scss"
@import "~taro-ui/dist/style/components/article.scss"

.container
  background: #FFF9C4
  .topSet
    height: 200rpx
    .visitor
      margin: auto auto
    .account_name
      color: #000000
      font-weight: 700
      font-size: 40rpx
    .set_account_info
      color: #c4c4c4
      font-size: 20rpx
    .hrx
      color: #c4c4c4
      width: 30rpx
    .login
      font-size: 30rpx
      color: #81d5fc
  .icon
    font-size: 40rpx
  .hr
    height: 1rpx
    width: 85%
    background: #eeeeee
    margin: auto auto
  .hrFull
    height: 1rpx
    width: 100%
    background: #eeeeee
    margin: auto auto
  .list
    background: white
    width: 100%
    border-top-right-radius: 50rpx
    border-top-left-radius: 50rpx
    overflow: hidden
  .priceNumber
    font-size: 40rpx
    font-weight: 700
    padding-left: 10rpx
  .priceText
    font-size: 40rpx
    font-weight: 300
