.IM {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  .iconfont {
    font-size: 24Px!important;
    color: #515151;
  }
}

.header {
  height: 45Px;
  position: relative;
}

.msg-box {
  width: 100vw;
  overflow: hidden;
  transition: all 0.2s;
}

.input-filed {
  flex-grow: 1;
  background-color: #fff;
}
