

.da_container
  padding-top: 155px
  .realAuthInfoBtn
    margin: auto
    margin-top: 100px
    width: 50%
  .inputMargin
    margin-top: 30px
  .datePick
    margin-top: 10px
  .pickerDateDom
    margin-left: 30px
    text-align: center
    background: #eeeeee
    border-radius: 20px
    height: 90px
  .pickDateText
    padding-left: 10px
    font-size: 32px
    line-height: 2.8
    color: #333
    .text
      padding-left: -10px
      text-align: center
  .pickTitle
    margin-top: 50px
    margin-left: 30px
    font-size: 35px
    line-height: 1.5
    color: #333
  .errorCap
    color: #ff0000
    margin-left: 30px
    font-size: 25px
    font-weight: 100
  .tapCap
    opacity: 0
    margin-left: 30px
    font-size: 25px
    font-weight: 100
  .moreDetailAuth
    text-align: center
    font-size: 35px
    margin-top: 80px
    color: #979797
  .pickText
    margin-left: 30px
    margin-top: 20px
    font-size: 32px
    line-height: 1.5
    color: #333
    .text
      text-align: center
  .hr
    height: 1px
    width: 88%
    background: #e5eef5
    margin-left: 30px
    margin-top: 20px
  .topbar
    margin-top: 180px
